<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" 
            href="@string.Format("http://gatherer.wizards.com/handlers/image.ashx?size=medium&name={0}&type=symbol", Session["logo"])">

        <title>Log in</title>

        <!-- Bootstrap core CSS -->
        <link href="~/Content/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="~/Content/signin.css" rel="stylesheet">
      
        <script src="~/Scripts/jquery-2.0.3.min.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

    <div class="container">
        @RenderBody()
    </div>
    </body>
</html>
