@model Web.UI.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "ManageAccount";
}

<form id="login-form" action="@Url.Action("ChangePassword")" method="POST" class="form-signin">
    <h2 class="form-signin-heading">Change password</h2>
    <input type="password" class="form-control" placeholder="Current password" autofocus id="OldPassword"
           name="OldPassword" data-val="true" data-val-required="Old password is required to change the password"/>
    <input type="password" class="form-control" placeholder="New password" id="NewPassword" name="NewPassword"
           data-val ="true" data-val-length="Minimum password length is 6 characters" data-val-min="6" 
           data-val-required="New password is required to change the password"/>
    <input type="password" class="form-control" placeholder="Confirm password" id="ConfirmPassword"
           name="ConfirmPassword" data-val="true" data-val-required="Confirm the password"/>
    <span class="field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>
    <span class="field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
    <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
