@model Web.UI.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="login-form" action="@Url.Action("Index")" method="POST" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="text" class="form-control" placeholder="Email address" autofocus id="Email" 
           name="Email" data-val="true" data-val-required="Email address is required"/>
    <input type="password" class="form-control" placeholder="Password" id="Password" name="Password" 
           data-val="true" data-val-length="Minimum password length is 6 characters" 
           data-val-length-min="6" data-val-required="Password is required" />
    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
    <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
    <label class="checkbox">
        <input type="checkbox" value="remember-me" id="RememberMe" name="RememberMe"/> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br/>
    <p>Don't have an account yet, <a href="@Url.Action("Register", "Login")">register</a> here.</p>
</form>
